x-rating-element {
    display: inline-block;
}

x-rating-element > .choice {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

x-rating-element > .choice + .choice {
    margin-left: .3rem;
}

x-rating-element > .choice:last-child {
    margin-right: .3rem;
}

x-rating-element > .choice:before {
    position: absolute;
    content: "\2605";
    font-size: 2rem;
    color: inherit;
    transition: 250ms color ease-in-out;
    vertical-align: top;
}

x-rating-element > .choice.checked {
    color: rgb(228, 173, 101);
}

x-rating-element > .choice.highlighted ~ .choice.checked:not(.highlighted) {
    color: rgb(241, 208, 165);
}

x-rating-element > .choice.highlighted {
    color: rgb(255, 147, 6);
}
